# <center> Resumen de lo aprendido </center>
<center> Este es un resumen de lo que he aprendido con el fin de tomar notas para mí y si son útiles para alguien más, aquí están :D </center>

## INDEX
1. [Listas](#1)
    - [Características Importantes](#1.1)

*** 
<a id="1"></a>
- ## Listas
Las listas sirven para guardar varios elementos y de diferente tipo de dato en una estructura (no confundir con una variable), ejemplos:

* <b>Variables:</b>

In [2]:
x=5

y=3

x+y

8

* <b>Listas:</b>

In [14]:
# structure: grupo_kpop=['Nombre',Año_Debut,No.Integrantes]</i>

bp=['BLACKPINK',2016,4]

<a id="1.1"></a>
### Características Importantes: 

* Se pueden elegir elementos de las listas:

In [3]:
# Por ejemplo si quiero saber el nombre del grupo: 
bp[0]

'BLACKPINK'

In [4]:
# Y si quiero saber el nombre y ademas el no. de integrantes?
bp[0],bp[2]

('BLACKPINK', 4)

También es util el slicing [x:y]

In [9]:
# Lo que hace es tomar desde la posicion x hasta antes de la posicion y (NO TOMA LA POSICION Y). Recordar que el conteo comienza en cero.
# bp=['BLACKPINK',2016,4]
bp[0:1]

['BLACKPINK']

In [10]:
bp[0:2]

['BLACKPINK', 2014]

Elección hacia atrás

In [11]:
# bp=['BLACKPINK',2016,4]
bp[-1]

4

In [12]:
bp[-2]

2014

* Listas de listas:

In [15]:
rv=['Red Velvet',2014,5]
tw=['Twice',2015,9]

lista_grupos_kpop=[rv,tw,bp]
# 'lista_grupos_kpop' seria la lista de listas
lista_grupos_kpop

[['Red Velvet', 2014, 5], ['Twice', 2015, 9], ['BLACKPINK', 2016, 4]]

* DataFrame a partir de una lista:

In [16]:
# Primero se importa el paquete
import pandas as pd
pd.DataFrame(lista_grupos_kpop, columns=['Nombre del Grupo','Año de Debut','No. de Integrantes'])

  Nombre del Grupo  Año de Debut  No. de Integrantes
0       Red Velvet          2014                   5
1            Twice          2015                   9
2        BLACKPINK          2016                   4

In [1]:
# hola

In [2]:
x=3